@{
    ViewBag.Title = "Contact_Information_Overseas_Offices";
}


<style>
    b, strong
    {
        font-weight: bold;
    }
</style>

<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>OverSeas Ofices</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li>Overseseas Office</li>
            </ul>
        </div>
    </div>
</div>

<div class="pa-product-single spacer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                  @Html.Partial("_sidecontact")
            </div>
            <div class="col-lg-8">
                <div class="row">


                    <div class="col-lg-12">
                        <div class="blog-carousel">
                            <div class="blog-carousel-header">
                                <h1>Branch Offices</h1>
                            </div>
                            <!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc ten-year">
                                <ul>
                                    <li>
                                        <strong>navneet</strong> Gaur
Business Head-Private Label
Dabur India Ltd.
Kaushambi, Ghaziabad - 201010,
Uttar Pradesh, India
Tel: +91-120-3962530
Fax: +91-8884172999
Skype : Navneet-gaur
Email: navneet.gaur@mail.dabur</li>
                                   
                                </ul>
                            </div>
                            <!-- end blog-carousel-desc -->
                        </div>
                        <!-- end blog-carousel -->
                    </div>
                    <!-- end blog-carousel -->
                </div>
            </div>
        </div>


    </div>
</div>


