@{
    ViewBag.Title = "Contact_Information_Branch_Offices";
}

<style>
    b, strong
    {
        font-weight: bold;
    }
</style>

<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>Branch Ofices</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li>Branch Ofices</li>
            </ul>
        </div>
    </div>
</div>

<div class="pa-product-single spacer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="pa-product-sidebar">

                     <div class="pa-product-sidebar">

                   @Html.Partial("_sidecontact")

                </div>

                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">


                    <div class="col-lg-12">
                        <div class="blog-carousel">
                            <div class="blog-carousel-header">
                                <h1>Branch Offices</h1>
                            </div>
                            <!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc ten-year">
                                <ul>
                                    <li><strong>Ahmedabad</strong><br>
                                        A/402, Ganesh Plaza<br>
                                        4th Floor, Near Navrang Pur<br>
                                        P. O. Navrang Pur<br>
                                        Ahmedabad<br>
                                        Tel: +91 (079) &nbsp;<br>
                                        Telefax: +91 + xx xxxx xxxx<br>
                                        Email:&nbsp;<a href="#" style="text-decoration: none; color: rgb(242, 114, 13);">daburamd@satyam.net.in</a></li>
                                    <li><strong>Bangalore</strong><br>
                                        N-250/450/9, C/o: Zuby Forwarding Corporation<br>
                                        Devathy Geramanahalli<br>
                                        P. O. Depanjali Nagar<br>
                                        Quality Biscuit Factory<br>
                                        Mysore Road, Bangalore – 560 039<br>
                                        Karnataka State<br>
                                        Tel: + xx xxxx xxxx&nbsp;<br>
                                        Fax: +91 + xx xxxx xxxx<br>
                                        Email:&nbsp;<a href="#" style="text-decoration: none; color: rgb(242, 114, 13);">brhugar@bgl.vsnl.net.in</a></li>
                                    <li><strong>Kolkata</strong><br>
                                        Dabur House<br>
                                        142, Rashbehari Avenue<br>
                                        Calcutta – 700 029<br>
                                        Tel: +91 + xx xxxx xxxx<br>
                                        + xx xxxx xxxx<br>
                                        Fax: +91 + xx xxxx xxxx</li>
                                    <li><strong>Chandigarh</strong><br>
                                        SCO 44-45, Sector 9-D,<br>
                                        Madhya Marg, Chandigarh – 160 017<br>
                                        Tel: +91 + xx xxxx xxxx<br>
                                        Fax: +91 + xx xxxx xxxx</li>
                                    <li><strong>Chennai</strong><br>
                                        No.6, Appa kannu Street<br>
                                        Royapta 6000<br>
                                        Chennai-600014<br>
                                        Tamilnadu<br>
                                        Tel: +91 + xx xxxx xxxx<br>
                                        Fax: +91 + xx xxxx xxxx<br>
                                        &nbsp;</li>
                                    <li><strong>Delhi</strong><br>
                                        No-10, Rouse Avenue&nbsp;<br>
                                        Punjabi Bhawan&nbsp;<br>
                                        New Delhi 110002<br>
                                        Tel: +91 + xx xxxx xxxx&nbsp;<br>
                                        &nbsp;</li>
                                    <li><strong>Guwahati</strong><br>
                                        C/O Sadana Warehousing &amp; Agencies (P) Ltd<br>
                                        G.S.Road, Rukmani Gaon,<br>
                                        Guwahati – 781 022<br>
                                        &nbsp;</li>
                                    <li><strong>Hyderabad</strong><br>
                                        5-9-1107, 9&amp;10, King Koti Road<br>
                                        Anand Towers, Basheerbagh<br>
                                        Opposite Shergate<br>
                                        Hyderabad – 500 029<br>
                                        Andhra Pradesh<br>
                                        Tel: +91 + xx xxxx xxxx<br>
                                        Fax: +91 + xx xxxx xxxx</li>
                                    <li><strong>Indore</strong><br>
                                        Dabur India Ltd.<br>
                                        506, 5th Floor, Industry House<br>
                                        A. B. Road, Indore ? 452 004<br>
                                        Madhya Pradesh<br>
                                        Tel: +91 + xx xxxx xxxx&nbsp;<br>
                                        Telefax: +91 + xx xxxx xxxx</li>
                                    <li><strong>Jaipur</strong><br>
                                        Rajshree Apartment<br>
                                        Plot No. 445, Gali No.4<br>
                                        Rajapark, Jaipur – 302 044<br>
                                        Rajashthan<br>
                                        Tel: +91 + xx xxxx xxxx&nbsp;<br>
                                        Fax: ++ xx xxxx xxxx</li>
                                    <li><strong>Kochi</strong><br>
                                        Etturuthil House<br>
                                        Pawar House Road<br>
                                        Kochi – 682 018<br>
                                        Kerala<br>
                                        Tel: +91 + xx xxxx xxxx</li>
                                    <li><strong>Mumbai</strong><br>
                                        Balsara House<br>
                                        43, Nagindas Master Road,<br>
                                        Fort,&nbsp;<br>
                                        Mumbai - 400 001&nbsp;<br>
                                        Tel: +91 + xx xxxx xxxx<br>
                                        &nbsp;</li>
                                    <li><strong>Patna</strong><br>
                                        C/o: Sarraf&nbsp;<br>
                                        Kanti Shri, Kumhrar Sandal Pur Road<br>
                                        Patna-800 006, Bihar<br>
                                        Tel: + xx xxxx xxxx<br>
                                        Email:&nbsp;<a href="#" style="text-decoration: none; color: rgb(242, 114, 13);">daburpat@dte.vsnl.net.in</a></li>
                                    <li><strong>Raipur</strong><br>
                                        Aggrawal Warehousing Corporation<br>
                                        C/o: Shree Enterprises Ring<br>
                                        Road No. 1 - Raipur – 492 001<br>
                                        Chhattisgarh<br>
                                        Tel: +91 + xx xxxx xxxx</li>
                                </ul>
                            </div>
                            <!-- end blog-carousel-desc -->
                        </div>
                        <!-- end blog-carousel -->
                    </div>
                    <!-- end blog-carousel -->
                </div>
            </div>
        </div>


    </div>
</div>

