@{
    ViewBag.Title = "Contact_Information_Overseas_business_private_label";
}

<style>
    b, strong
    {
        font-weight: bold;
    }
</style>

<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>business private label</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li>business private label</li>
            </ul>
        </div>
    </div>
</div>

<div class="pa-product-single spacer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="pa-product-sidebar">

                      @Html.Partial("_sidecontact")

                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">


                    <div class="blog-carousel">
                        <div class="blog-carousel-header">
                            <h1>Overseas Offices</h1>
                        </div>
                        <!-- end blog-carousel-header -->
                        <div class="blog-carousel-desc ten-year">
                            <ul>
                                <li><strong>Dubai, UAE</strong><br>
                                    Dabur International Limited&nbsp;<br>
                                    P.O.Box 16944<br>
                                    Jebel Ali,&nbsp;<br>
                                    Dubai - U.A.E.<br>
                                   
                                    </li>
                                <li><strong>Egypt</strong><br>
                                    Dabur Egypt Limited<br>
                                    Plot No.(5), Industrial Area (B-4)<br>
                                    10th of Ramadan City, Egypt<br>
                                   </li>
                                <li><strong>Bangladesh</strong><br>
                                    Asian Consumer Care<br>
                                    245, Tejgaon Industrial Area,&nbsp;<br>
                                    Dhaka 1208,&nbsp;<br>
                                    Bangladesh.&nbsp;<br>
                                   </li>
                                <li><strong>Nigeria</strong><br>
                                    African Consumer Care Limited&nbsp;<br>
                                    Ebani House<br>
                                    62, Marina Lagos<br>
                                    Nigeria.<br>
                                   </li>
                                <li><strong>London, United Kingdom</strong><br>
                                    Dabur International Ltd<br>
                                    2 Gayton Road<br>
                                    Harrow , HA1 2XU&nbsp;<br>
                                    United Kingdom<br>
                                   
                                <li><strong>United States</strong><br>
                                    Dabur International<br>
                                    5 Independence Way,<br>
                                    Suite 300, Princeton,<br>
                                    New Jersey -- 08540<br>
                                 </li>
                                <li><strong>Nepal</strong><br>
                                    Dabur Nepal Private Limited<br>
                                    <br>
                                    <strong>Factory</strong><br>
                                    Rampur Tokni, District Bara<br>
                                    Birgung, Nepal<br>
                                    Tel: N/A<br>
                                    Email: N/A<br>
                                    <br>
                                    <br>
                                    <strong>Kathmandu Office</strong>:<br>
                                    TNT Building, Tinkune, Koteshwor<br>
                                    Kathmandu, Nepal<br>
                                    Tel: N/A<br>
                                    Email:&nbsp;<a href="#" style="text-decoration: none; color: rgb(242, 114, 13);">nepal@dabur.wlink.com.np</a><br>
                                    <br>
                                    <strong>Birganj Office</strong><br>
                                    Dabur Mess, Sheerpur<br>
                                    Birganj-14, Nepal<br>
                                    Tel: N/A<br>
                                    <br>
                                    <strong>Dabur Nepal Nursery</strong><br>
                                    Nepal Medicinal Plant Project<br>
                                    Nanepa, Janagal<br>
                                    Nepal<br>
                                    Tel: N/A<br>
                                    </li>
                            </ul>
                        </div>
                        <!-- end blog-carousel-desc -->
                    </div>
                    <!-- end blog-carousel -->
                </div>
            </div>
        </div>


    </div>
</div>

