@{
    ViewBag.Title = "ContactInformation_Factories";
}

<style>
    b, strong {
    font-weight: bold;
}
</style>

<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>Factories</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li>Factories</li>
            </ul>
        </div>
    </div>
</div>

<div class="pa-product-single spacer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="pa-product-sidebar">

                   @Html.Partial("_sidecontact")

                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">

                
                        <div class="blog-carousel">
                            <div class="blog-carousel-header">
                                <h1>Factories</h1>
                            </div>
                            <!-- end blog-carousel-header -->
                            <div class="blog-carousel-desc ten-year">
                                <ul>
                                    <li>
                                        <p class="tdtxt"><strong>Alwar Unit</strong><br>
                                            SP-C 162, Matsya Indl Area<br>
                                            Alwar – 301 030, Rajashtan<br>
                                            Phone - 0144 -2881217, 319, 2881542, 3245984&nbsp;<br>
                                            Fax No. 0144-2881302</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Chyawanprash Unit</strong><br>
                                            Plot No.220-21, HPSIDC,<br>
                                            Ind. Area, Baddi (HP)<br>
                                            Phone No. 01795-393954<br>
                                            Fax: +91 (01795) 244090</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Hajmola Unit</strong><br>
                                            Plot No.109, HPSIDC,<br>
                                            Ind. Area, Baddi (HP)<br>
                                            Himachal Pradesh<br>
                                            Tel: +91 (01795) 393900<br>
                                            Fax: +91 (01795) 244090</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Red Toothpaste&nbsp;</strong><br>
                                            Vill. Billanwali Lavana,<br>
                                            Baddi (HP)<br>
                                            Phone No.(01795)- 393970<br>
                                            Fax: +91 (01795) 244090</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Amla/Honey Unit</strong><br>
                                            Village Billanwali Lavana,&nbsp;<br>
                                            Baddi (HP)<br>
                                            Tel: (01795) 393970<br>
                                            Fax: (01795) 244090</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Glucose Unit</strong><br>
                                            Plot No.12, HPSIDC,<br>
                                            Ind. Area, Baddi(HP)<br>
                                            &nbsp;</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Shampoo Unit</strong><br>
                                            Village Billanwali Lavana,<br>
                                            Baddi (HP)<br>
                                            &nbsp;</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Honitus/Nature Care Unit</strong><br>
                                            Plot No.109, HPSIDC, Ind. Area,<br>
                                            Baddi (HP)<br>
                                            Phone No.(01795) 393900<br>
                                            Fax: (01795) 244090</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Balsara</strong><br>
                                            601, Malku Majra,<br>
                                            Tehnsil Nalagarh, Baddi 173 205<br>
                                            Himachal Pradesh</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Food Supplement Unit</strong><br>
                                            Plot No.221, HPSIDC,<br>
                                            Ind. Area, Baddi (HP)<br>
                                            Phone: (01795) 393900<br>
                                            Fax: (01795) 244090</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Oral Care Unit</strong><br>
                                            601, Malkhumajra,<br>
                                            Nalagarh Road, Baddi (HP)<br>
                                            Himachal Pradesh<br>
                                            &nbsp;</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Green Field Unit</strong><br>
                                            Village Manakpur,<br>
                                            Tehsil Baddi,<br>
                                            Distt Solan (HP), Phone: (01795) 398014</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Air Freshner Unit</strong><br>
                                            Village Billanwali,<br>
                                            Lavana, Tehsil Baddi,<br>
                                            Distt Solan (HP), Phone: (01795) 393900</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Tooth Powder Unit</strong><br>
                                            Village Billanwali,<br>
                                            Lavana, Tehsil Baddi<br>
                                            Distt Solan (HP),&nbsp;Phone: (01795) 393928</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Skin Care</strong><br>
                                            Village Manakpur,<br>
                                            Tehsil Baddi<br>
                                            Distt Solan (HP),&nbsp;Phone: (01795)- 9218455881</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – Honey Unit</strong><br>
                                            Village Manakpur,<br>
                                            Tehsil Baddi<br>
                                            Distt Solan (HP),&nbsp;Phone: (01795) 398014</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Baddi – CTGO Unit</strong><br>
                                            Village Manakpur,<br>
                                            Tehsil Baddi<br>
                                            Distt Solan (HP),&nbsp;Phone: (01795) 393900</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Jammu Unit I , II &amp; III</strong><br>
                                            Lane No. 3, Phase II,<br>
                                            Sidco Industrial Complex,<br>
                                            Bari Brahmana (Jammu)<br>
                                            Phone: 01923-220123 / 221970</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><strong>Katni</strong><br>
                                            10.4 Milestone NH-7,<br>
                                            Village – Padua,<br>
                                            Katni (MP)<br>
                                            Phone: 9826121239<br>
                                            Fax: (07622) 262297</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Narendrapur Unit</b><br>
                                            9, N. S. C. Bose Road<br>
                                            Narendrapur, Kolkata - 700 103&nbsp;<br>
                                            Phone: (033) 24772620, 24772324<br>
                                            Fax: (033) 24772621</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Newai Unit</b><br>
                                            Plot No. G - 50-59, II D Centre,<br>
                                            NH-12 Road No 1, New Industrial Area,&nbsp;<br>
                                            Newai , Distt: Tonk (Rajasthan)<br>
                                            Phone - (01438) - 223342, 223783, 223892, 223010</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>New Jalpaiguri&nbsp;Unit</b><br>
                                            Kartowa, Post Mahanvita<br>
                                            PS Rajganj<br>
                                            Dist jalpaiguri&nbsp;(West Bengal)</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Nashik&nbsp;Unit</b><br>
                                            D-55, M.I.D.C. , AMBAD, NASHIK - 422010&nbsp;<br>
                                            Phone : 02536623222</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Pant Nagar Unit</b><br>
                                            Plot No. 16, Sector 2, IIE<br>
                                            SIDCUL Pant Nagar<br>
                                            Phone - (05944) 246039, 246040, 39412525</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Pant Nagar Unit II</b><br>
                                            Plot No. 4, Sector 2, IIE, Pant Nagar<br>
                                            Distt U S Nagar (Uttrakhand)<br>
                                            Phone - (05944) 246039, 246040, 39412525</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Pithampur&nbsp;Unit&nbsp;</b><br>
                                            86-A, Kheda Industrial Area, sector 3<br>
                                            Pithampur Distt, Dhar (M.P.) - 454774<br>
                                            Phone - (07292) - 400046- 51, Fax No. 07292- 400112</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Sahibabad Unit I &amp; II</b><br>
                                            Plot No.22, Site-IV<br>
                                            Sahibabad, Ghaziabad,<br>
                                            Phone : 0120 - 4378400<br>
                                            Fax : 0120 - 4376924</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Sahibabad Unit III</b><br>
                                            5/1, Site-IV<br>
                                            Sahibabad, Ghaziabad,<br>
                                            Phone : 0120 - 3962030<br>
                                            Fax : 0120&nbsp;- 2772407</p>
                                    </li>
                                    <li>
                                        <p class="tdtxt"><b>Silvassa-&nbsp;Unit I &amp; II</b><br>
                                            Survey No. 225/4/1 saily Village,<br>
                                            (Dadra &amp; Nagar Havelli), (U.T.) Silvassa<br>
                                            Phone : 0260 - 2645867 / 71 / 72 / 73<br>
                                            Fax : 0260-2645869</p>
                                    </li>
                                </ul>
                            </div>
                            <!-- end blog-carousel-desc -->
                        </div>
                        <!-- end blog-carousel -->
                    </div>
                </div>
            </div>


        </div>
    </div>

