@{
    ViewBag.Title = "Subsidiaries";
}


<style>
    b, strong
    {
        font-weight: bold;
    }
</style>

<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>Subsidiaries</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li>Subsidiaries</li>
            </ul>
        </div>
    </div>
</div>

<div class="pa-product-single spacer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="pa-product-sidebar">

                    @Html.Partial("_sidecontact")

                </div>
            </div>
            <div class="col-lg-8">
                <div class="row">


                            <div class="blog-carousel">
                                <div class="blog-carousel-header">
                                    <h1>Subsidiaries</h1>
                                </div>
                                <!-- end blog-carousel-header -->
                                <div class="blog-carousel-desc ten-year">
                                    <ul>
                                        <li><strong>H&amp;B Stores Ltd.</strong><br>
                                            Dabur Corporate Office,<br>
                                            Kaushambi, Sahibabad,<br>
                                            Ghaziabad - 201010<br>
                                            Uttar Pradesh<br>
                                          
                                            &nbsp;</li>
                                        <li><strong>Others</strong><br>
                                            Dabur Research &amp; Development Centre (DRDC)<br>
                                            Plot No. 22, Site-IV<br>
                                            Sahibabad - 201010<br>
                                            Ghaziabad&nbsp;<br>
                                            Uttar Pradesh<br>
                                           </li>
                                    </ul>
                                </div>
                                <!-- end blog-carousel-desc -->
                            </div>
                            <!-- end blog-carousel -->
                       
                    <!-- end blog-carousel -->
                </div>
            </div>
        </div>


    </div>
</div>
