<div class="sidebar-main sidebar-menu-one sidebar-expand-md sidebar-color">
    <div class="mobile-sidebar-header d-md-none">
        <div class="header-logo">
            <a href="index.html"><img src="img/logo1.png" alt="logo"></a>
        </div>
    </div>
    <div class="sidebar-menu-content">
        <ul class="nav nav-sidebar-menu sidebar-toggle-view">

            @* For admin role menu render *@
           
            <li class="nav-item">
                <a href="/account/Logout" class="nav-link"><i class="flaticon-checklist"></i><span>Log Out</span></a>
            </li>



        </ul>
    </div>
</div>
