@{
   
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}


<!-- breadcrumb start -->
<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>About us</h1>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li>About us</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about start -->
<div class="pa-about spacer-top spacer-bottom">
    <div class="container">
        <div class="row">
              <div class="col-lg-2">
                <div class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="/home/About" target="_self">Corporate Profile</a></li>                       
                        <li><a href="/home/vissionmission" target="_self">Vision &amp; Mission</a></li>
                     
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="pa-about-img">
                    <img src="/www/assets/images/about.jpg" alt="image" class="img-fluid" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pa-about-content">
                    <div class="pa-heading">
                        @*<img src="/assets/images/herbal.svg" alt="image" class="img-fluid">*@
                        <h1>One of the Best Ayurvedic Companies – Dabur Corporate Profile</h1>
                        <h5>about us</h5>
                    </div>
                    Dabur India Ltd. is one of India’s leading FMCG Companies with <strong>Revenues of over </strong><b style="color: rgb(33, 33, 33); font-family: Calibri, sans-serif; font-size: 14.6667px;">Rs 8,500 Crore</b><strong> &amp; Market Capitalisation of </strong><b style="color: rgb(33, 33, 33); font-family: Calibri, sans-serif; font-size: 14.6667px;">over Rs 72,500 Crore</b>. Building on a legacy of quality and experience of over 135 years, <strong>Dabur is today India’s most trusted name and the world’s largest Ayurvedic and Natural Health Care Company.</strong>
                </div>
                <div>&nbsp;</div>
                <div>Dabur India is also a world leader in <a href="/in/en-us/about/science-of-ayurveda" title="Indian Ayurveda">Ayurveda</a> with a portfolio of over 250 Herbal/Ayurvedic products. Dabur's FMCG portfolio today includes <strong>five flagship brands</strong> with distinct brand identities -- <strong>Dabur</strong> as the master brand for natural healthcare products, <strong>Vatika</strong> for premium personal care, <strong>Hajmola</strong> for digestives, <strong>Réal</strong> for fruit juices and beverages and <strong>Fem</strong> for fairness bleaches and skin care products.</div>
                <div>&nbsp;</div>
                <div>Dabur today operates in key consumer product categories like <strong>Hair Care, Oral Care, Health Care, Skin Care, Home Care and Foods</strong>. The <a href="https://www.dabur.com" title="Best Ayurvedic Company">ayurvedic company</a> has a wide distribution network, covering 6.7 million retail outlets with a high penetration in both urban and rural markets.</div>
                <div>&nbsp;</div>
                <div>Dabur's products also have huge presence in the overseas markets and are today <strong>available in over 100 countries across the globe</strong>. Its brands are highly popular in the Middle East, SAARC countries, Africa, US, Europe and Russia. <strong>Dabur's overseas revenue today accounts for over 27% of the total turnover.</strong></div>
                <div>&nbsp;</div>
                <div>The 135-year-old ayurvedic company, promoted by the Burman family, started operating in 1884 as an <a href="/in/en-us/product" title="Herbal &amp; Ayurvedic Medicines">Ayurvedic medicines</a> company. From its humble beginnings in the bylanes of Calcutta, Dabur India Ltd has come a long way today to become one of the biggest Indian-owned consumer goods companies with the largest herbal and natural product portfolio in the world. Overall, <strong>Dabur has successfully transformed itself from being a family-run business to become a professionally managed enterprise.</strong> What sets Dabur apart from the crowd is its ability to change ahead of others and to always set new standards in corporate governance &amp; innovation.</div>
                <div>&nbsp;</div>
                <div>Dabur also recommends various <a href="/in/en-us/about/science-of-ayurveda/ayurvedic-home-remedies" title="Ayurvedic Home Remedies">Ayurvedic Home Remedies</a> formulated using <a href="/in/en-us/about/science-of-ayurveda/herbal-medicinal-plants" title="Ayurvedic Plants &amp; Herbs">ayurvedic plants &amp; herbs</a> which are natural &amp; chemical free.</div>
               
            </div>
        </div>
    </div>
</div>
  <!-- about end -->

<!-- team end -->
