@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}

 <!-- breadcrumb start -->
    <div class="pa-breadcrumb">
        <div class="container-fluid">
            <div class="pa-breadcrumb-box">
                <h1>contact us</h1>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>contact us</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
    <!-- contact start -->
    <div class="pa-contact spacer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img src="~/assets/images/378-office.jpg" style="width:607px" />
                </div>
                <div class="col-md-5">
                    <div class="pa-contact-form">
                        <div class="pa-product-sidebar">

                   @*@Html.Partial("_sidecontact")*@

                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- contact end -->
    <!-- contact detail start -->
    <div class="pa-contact-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="pa-contact-box">
                       
                        <h4>Corporate Office</h4>
                        <p class="siteAddress"> </p>
                      

                       




                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="pa-contact-box">
                        <h4>Contant no.</h4>
                        <p class="phoneno"></p>
                        <p class="sitecontactno2"></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="pa-contact-box">
                        <h4>Email</h4>
                        <p class="siteemailid"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>