@{
    
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}

<!-- breadcrumb start -->
    <div class="pa-breadcrumb">
        <div class="container-fluid">
            <div class="pa-breadcrumb-box">
                <h1>Services</h1>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
    <!-- services start -->
    <div class="pa-services spacer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="pa-services-img">
                        <img src="/www/assets/images/service.jpg" alt="image" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6">
                    <p>&nbsp;</p>
                    <h2><span style="color: #ff0000;"><strong>Dabur Products Distributorship&nbsp;in India</strong>&nbsp;</span></h2>
                    <p><strong>About Dabur - Healthcare Company:&nbsp;</strong>Dabur is one of the India's largest Ayurvedic medicine &amp; natural consumer products manufacturer. Dabur demerged its Pharma business in 2003 and hived it off into a separate company, Dabur Pharma Ltd. German company Fresenius SE bought a 73.27% equity stake in Dabur Pharma in June 2008 at Rs 76.50 a share.</p>
                    <p><strong>Founder:</strong>&nbsp;S.K. Burman</p>
                    <p><strong>Headquarters:</strong>&nbsp;Ghaziabad, Uttar Pradesh</p>
                    <p>&nbsp;</p>
                   
                </div>
            </div>
        </div>
    </div>
  

