@{
    
    Layout = "~/Views/Shared/_Layoutweb.cshtml";
}

<div class="pa-breadcrumb">
    <div class="container-fluid">
        <div class="pa-breadcrumb-box">
            <h1>About us</h1>
            <ul>
                <li><a href="/home">Home</a></li>
                <li>Vission & Mission</li>
            </ul>
        </div>
    </div>
</div>
<div class="pa-about spacer-top spacer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="sidebar-nav">
                    <ul class="nav nav-tabs nav-stacked">
                        <li><a href="/home/About" target="_self">Corporate Profile</a></li>                       
                        <li><a href="/home/vissionmission" target="_self">Vision &amp; Mission</a></li>
                     
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="pa-about-content">
                    <div class="blog-carousel-desc ten-year">
                        <h2><span style="color: #8abd4b;">Vision</span></h2>
                        <h2><span style="color: rgb(244, 113, 31);">"Dedicated to the health &amp; well being of every household"</span></h2>
                        <h2>Principles</h2>
                        <h2><span style="color: #f4711f;">Ownership</span></h2>
                        <p>This is our company. We accept personal responsibility, and accountability to meet business needs.</p>
                        <h2><span style="color: #f4711f;">Passion For Winning</span></h2>
                        <p>We all are leaders in our area of responsibility, with a deep commitment to deliver results. We are determined to be the best at doing what matters most.</p>
                        <h2><span style="color: #f4711f;">People Development</span></h2>
                        <p>People are our most important asset. We add value through result driven training, and we encourage &amp; reward excellence.</p>
                        <h2><span style="color: #f4711f;">Consumer Focus</span></h2>
                        <p>We have superior understanding of consumer needs and develop products to fulfill them better.</p>
                        <h2><span style="color: #f4711f;">Team Work</span></h2>
                        <p>We work together on the principle of mutual trust &amp; transparency in a boundary-less organization. We are intellectually honest in advocating proposals, including recognizing risks.</p>
                        <h2><span style="color: #f4711f;">Innovation</span></h2>
                        <p>Continuous innovation in products &amp; processes is the basis of our success.</p>
                        <h2><span style="color: #f4711f;">Integrity</span></h2>
                        <p>We are committed to the achievement of business success with integrity. We are honest with consumers, with business partners and with each other.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
